In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [3]:
df= pd.read_csv('german_credit.csv')
df.head()

,Creditability,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2

In [4]:
df.columns

Index(['Creditability', 'Account Balance', 'Duration of Credit (month)',
       'Payment Status of Previous Credit', 'Purpose', 'Credit Amount',
       'Value Savings/Stocks', 'Length of current employment',
       'Instalment per cent', 'Sex & Marital Status', 'Guarantors',
       'Duration in Current address', 'Most valuable available asset',
       'Age (years)', 'Concurrent Credits', 'Type of apartment',
       'No of Credits at this Bank', 'Occupation', 'No of dependents',
       'Telephone', 'Foreign Worker'],
      dtype='object')

In [5]:
df.shape

(1000, 21)

In [6]:
df.isnull().count()

Creditability                        1000
Account Balance                      1000
Duration of Credit (month)           1000
Payment Status of Previous Credit    1000
Purpose                              1000
Credit Amount                        1000
Value Savings/Stocks                 1000
Length of current employment         1000
Instalment per cent                  1000
Sex & Marital Status                 1000
Guarantors                           1000
Duration in Current address          1000
Most valuable available asset        1000
Age (years)                          1000
Concurrent Credits                   1000
Type of apartment                    1000
No of Credits at this Bank           1000
Occupation                           1000
No of dependents                     1000
Telephone                            1000
Foreign Worker                       1000
dtype: int64

In [7]:
df['Length of current employment'].value_counts()

3    339
5    253
4    174
2    172
1     62
Name: Length of current employment, dtype: int64

In [8]:
df['Purpose'].value_counts()

3     280
0     234
2     181
1     103
9      97
6      50
5      22
10     12
4      12
8       9
Name: Purpose, dtype: int64

In [9]:
df['Creditability'].value_counts()

1    700
0    300
Name: Creditability, dtype: int64

In [10]:
corr=df.corr()
corr

,Creditability,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
Creditability,1.000000,0.350847,-0.214927,0.228785,-0.017979,-0.154740,0.178943,0.116002,-0.072404,0.088184,...,-0.002967,-0.142612,0.091272,0.109844,0.018119,0.045732,-0.032735,0.003015,0.036466,0.082079
Account Balance,0.350847,1.000000,-0.072013,0.192191,0.028783,-0.042695,0.222867,0.106339,-0.005280,0.043261,...,-0.042234,-0.032260,0.058631,0.068274,0.023335,0.076005,0.040663,-0.014145,0.066296,-0.035187
Duration of Credit (month),-0.214927,-0.072013,1.000000,-0.077186,0.147492,0.624988,0.047661,0.057381,0.074749,0.014789,...,0.034067,0.303971,-0.037550,-0.062884,0.153126,-0.011284,0.210910,-0.023834,0.164718,-0.134680
Payment Status of Previous Credit,0.228785,0.192191,-0.077186,1.000000,-0.090336,-0.059915,0.039058,0.138225,0.044375,0.042171,...,0.063198,-0.053777,0.146337,0.159957,0.061428,0.437066,0.010350,0.011550,0.052370,0.028554
Purpose,-0.017979,0.028783,0.147492,-0.090336,1.000000,0.068480,-0.018684,0.016013,0.048369,0.000157,...,-0.038221,0.010966,-0.000892,-0.100230,0.013495,0.054935,0.008085,-0.032577,0.078371,-0.113244
Credit Amount,-0.154740,-0.042695,0.624988,-0.059915,0.068480,1.000000,0.064632,-0.008376,-0.271322,-0.016094,...,0.028917,0.311602,0.032273,-0.069392,0.133024,0.020785,0.285393,0.017144,0.277000,-0.030662
Value Savings/Stocks,0.178943,0.222867,0.047661,0.039058,-0.018684,0.064632,1.000000,0.120950,0.021993,0.017349,...,0.091424,0.018948,0.083434,0.001908,0.006644,-0.021644,0.011709,0.027514,0.087208,0.010450
Length of current employment,0.116002,0.106339,0.057381,0.138225,0.016013,-0.008376,0.120950,1.000000,0.126161,0.111278,...,0.245081,0.087187,0.259116,-0.007279,0.115077,0.125791,0.101225,0.097192,0.060518,-0.022845
Instalment per cent,-0.072404,-0.005280,0.074749,0.044375,0.048369,-0.271322,0.021993,0.126161,1.000000,0.119308,...,0.049302,0.053391,0.057271,0.007894,0.091229,0.021669,0.097755,-0.071207,0.014413,-0.094762
Sex & Marital Status,0.088184,0.043261,0.014789,0.042171,0.000157,-0.016094,0.017349,0.111278,0.119308,1.000000,...,-0.027269,-0.006940,0.005150,-0.026747,0.098934,0.064672,-0.011956,0.122165,0.027275,0.073103
Guarantors,0.025137,-0.127737,-0.024490,-0.040676,-0.017607,-0.027831,-0.105069,-0.008116,-0.011398,0.050634,...,-0.025678,-0.155450,-0.029826,-0.038235,-0.065449,-0.025447,-0.057963,0.020400,-0.075035,0.140190
Duration in Current address,-0.002967,-0.042234,0.034067,0.063198,-0.038221,0.028917,0.091424,0.245081,0.049302,-0.027269,...,1.000000,0.147231,0.265626,0.022654,0.009990,0.089625,0.012655,0.042643,0.095359,-0.039691
Most valuable available asset,-0.142612,-0.032260,0.303971,-0.053777,0.010966,0.311602,0.018948,0.087187,0.053391,-0.006940,...,0.147231,1.000000,0.074551,-0.107593,0.342969,-0.007765,0.276149,0.011872,0.196802,-0.132462
Age (years),0.091272,0.058631,-0.037550,0.146337,-0.000892,0.032273,0.083434,0.259116,0.057271,0.005150,...,0.265626,0.074551,1.000000,-0.030472,0.303346,0.150718,0.015383,0.118589,0.143506,0.013981
Concurrent Credits,0.109844,0.068274,-0.062884,0.159957,-0.100230,-0.069392,0.001908,-0.007279,0.007894,-0.026747,...,0.022654,-0.107593,-0.030472,1.000000,-0.097398,-0.055810,0.006077,-0.076891,-0.025140,0.007700
Type of apartment,0.018119,0.023335,0.153126,0.061428,0.013495,0.133024,0.006644,0.115077,0.091229,0.098934,...,0.009990,0.342969,0.303346,-0.097398,1.000000,0.050020,0.104243,0.115549,0.100327,-0.083336
No of Credits at this Bank,0.045732,0.076005,-0.011284,0.437066,0.054935,0.020785,-0.021644,0.125791,0.021669,0.064672,...,0.089625,-0.007765,0.150718,-0.055810,0.050020,1.000000,-0.026321,0.109667,0.065553,-0.018893
Occupation,-0.032735,0.040663,0.210910,0.010350,0.008085,0.285393,0.011709,0.101225,0.097755,-0.011956,...,0.012655,0.276149,0.015383,0.006077,0.104243,-0.026321,1.000000,-0.093559,0.383022,-0.092835
No of dependents,0.003015,-0.014145,-0.023834,0.011550,-0.032577,0.017144,0.027514,0.097192,-0.071207,0.122165,...,0.042643,0.011872,0.118589,-0.076891,0.115549,0.109667,-0.093559,1.000000,-0.014753,0.077071
Telephone,0.036466,0.066296,0.164718,0.052370,0.078371,0.277000,0.087208,0.060518,0.014413,0.027275,...,0.095359,0.196802,0.143506,-0.025140,0.100327,0.065553,0.383022,-0.014753,1.000000,-0.075012
Foreign Worker,0.082079,-0.035187,-0.134680,0.028554,-0.113244,-0.030662,0.010450,-0.022845,-0.094762,0.073103,...,-0.039691,-0.132462,0.013981,0.007700,-0.083336,-0.018893,-0.092835,0.077071,-0.075012,1.000000

In [11]:
imp_fea=df.corr()['Creditability']
imp_fea

Creditability                        1.000000
Account Balance                      0.350847
Duration of Credit (month)          -0.214927
Payment Status of Previous Credit    0.228785
Purpose                             -0.017979
Credit Amount                       -0.154740
Value Savings/Stocks                 0.178943
Length of current employment         0.116002
Instalment per cent                 -0.072404
Sex & Marital Status                 0.088184
Guarantors                           0.025137
Duration in Current address         -0.002967
Most valuable available asset       -0.142612
Age (years)                          0.091272
Concurrent Credits                   0.109844
Type of apartment                    0.018119
No of Credits at this Bank           0.045732
Occupation                          -0.032735
No of dependents                     0.003015
Telephone                            0.036466
Foreign Worker                       0.082079
Name: Creditability, dtype: float64

In [37]:
imp_features=df.corr()['Creditability']>=0.02
imp_features

Creditability                         True
Account Balance                       True
Duration of Credit (month)           False
Payment Status of Previous Credit     True
Purpose                              False
Credit Amount                        False
Value Savings/Stocks                  True
Length of current employment          True
Instalment per cent                  False
Sex & Marital Status                  True
Guarantors                            True
Duration in Current address          False
Most valuable available asset        False
Age (years)                           True
Concurrent Credits                    True
Type of apartment                    False
No of Credits at this Bank            True
Occupation                           False
No of dependents                     False
Telephone                             True
Foreign Worker                        True
Name: Creditability, dtype: bool

In [38]:
print('Selected important features', imp_features[imp_features== True])
x = df[list(imp_features.index[imp_features])]
x.head()

Selected important features Creditability                        True
Account Balance                      True
Payment Status of Previous Credit    True
Value Savings/Stocks                 True
Length of current employment         True
Sex & Marital Status                 True
Guarantors                           True
Age (years)                          True
Concurrent Credits                   True
No of Credits at this Bank           True
Telephone                            True
Foreign Worker                       True
Name: Creditability, dtype: bool

,Creditability,Account Balance,Payment Status of Previous Credit,Value Savings/Stocks,Length of current employment,Sex & Marital Status,Guarantors,Age (years),Concurrent Credits,No of Credits at this Bank,Telephone,Foreign Worker
0,1,1,4,1,2,2,1,21,3,1,1,1
1,1,1,4,1,3,3,1,36,3,2,1,1
2,1,2,2,2,4,2,1,23,3,1,1,1
3,1,1,4,1,3,3,1,39,3,2,1,2
4,1,1,4,1,3,3,1,38,1,2,1,2

In [39]:
x=x.drop(['Creditability'],axis=1)
x.head()

,Account Balance,Payment Status of Previous Credit,Value Savings/Stocks,Length of current employment,Sex & Marital Status,Guarantors,Age (years),Concurrent Credits,No of Credits at this Bank,Telephone,Foreign Worker
0,1,4,1,2,2,1,21,3,1,1,1
1,1,4,1,3,3,1,36,3,2,1,1
2,2,2,2,4,2,1,23,3,1,1,1
3,1,4,1,3,3,1,39,3,2,1,2
4,1,4,1,3,3,1,38,1,2,1,2

In [40]:
y = df['Creditability']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Creditability, dtype: int64

In [41]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size= 0.3, random_state=3)
x_train.head()

,Account Balance,Payment Status of Previous Credit,Value Savings/Stocks,Length of current employment,Sex & Marital Status,Guarantors,Age (years),Concurrent Credits,No of Credits at this Bank,Telephone,Foreign Worker
926,1,1,1,3,3,1,31,1,1,2,1
411,4,3,5,3,3,1,32,3,2,2,1
224,1,2,4,3,3,1,28,3,1,1,1
14,1,2,5,4,4,1,23,3,2,1,1
170,3,2,1,3,3,1,24,3,1,1,1

In [42]:
gnb=GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB(priors=None)

In [43]:
pred=gnb.predict(x_test)
pred

array([1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1], dtype=int64)

In [44]:
gnb.score(x_test, y_test)

0.7366666666666667

In [45]:
from sklearn.metrics import confusion_matrix
confusion_matrix(pred, y_test)

array([[ 57,  50],
       [ 29, 164]], dtype=int64)

In [46]:
from sklearn.metrics import accuracy_score
accuracy_score(pred, y_test)

0.7366666666666667

In [48]:
real_time = gnb.predict([[4, 3, 5, 4, 4, 0, 34, 3, 2,2, 1]])
real_time

array([1], dtype=int64)