In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import DistanceMetric
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_excel('Movies_K-NN.xlsx')
df

        movies  nr_kics  nr_jokes type of movie
0    Munnabhai        5       104        Comedy
1       Golmal        3       103        Comedy
2         Arya        2        99        Comedy
3  Kapoor&sons        1        86        Comedy
4    Baahubali      108         5        Action
5       matrix      115         3        Action
6      Memento      100         4        Action
7     Avengers       90        10        Action
8  Tranformers       90        18        Action

In [4]:
df.shape

(9, 4)

In [5]:
x=df[['movies', 'nr_kics', 'nr_jokes']]
y=df['type of movie'].map({'Comedy':1, 'Action':2}).astype(int)
y

0    1
1    1
2    1
3    1
4    2
5    2
6    2
7    2
8    2
Name: type of movie, dtype: int32

In [6]:
x_train,x_test, y_train, y_test=train_test_split(x,y,test_size=0.3, random_state=3)
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x_train['movies']=le.fit_transform(x_train['movies'])
print (x_train)

y_train

   movies  nr_kics  nr_jokes
4       0      108         5
5       5      115         3
0       3        5       104
3       2        1        86
1       1        3       103
8       4       90        18

C:\Users\sd\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

4    2
5    2
0    1
3    1
1    1
8    2
Name: type of movie, dtype: int32

In [7]:
x_test['movies']=le.fit_transform(x_test['movies'])
print (x_test)
print ('\n\n')
print (y_test)

   movies  nr_kics  nr_jokes
6       2      100         4
2       0        2        99
7       1       90        10



6    2
2    1
7    2
Name: type of movie, dtype: int32

C:\Users\sd\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
clf=KNeighborsClassifier(n_neighbors=1)
clf.fit(x_train, y_train)
print ('classification score of K=1 is:', clf.score(x_test, y_test))
clf=KNeighborsClassifier(n_neighbors=4)
clf.fit(x_train, y_train)
print ('classification score of K=4 is:', clf.score(x_test, y_test))

classification score of K=1 is: 1.0
classification score of K=4 is: 1.0

In [9]:
clf=KNeighborsClassifier(n_neighbors=2)
clf.fit(x_train, y_train)
print ('classification score of K=1 is:', clf.score(x_test, y_test))
y_test

classification score of K=1 is: 1.0

6    2
2    1
7    2
Name: type of movie, dtype: int32

In [10]:
y_pred=clf.predict(x_test)
y_pred

array([2, 1, 2])

In [11]:
df=pd.DataFrame({'real':y_test, 'predictions':y_pred})
df

   real  predictions
6     2            2
2     1            1
7     2            2

In [12]:
clf.score(x_test, y_test)

1.0